<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <!--连接数据库字符串-->
    <add name="XSBlogDataBase" connectionString="Data Source=.;Initial Catalog=XS_Blog2.0;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--使用的数据库种类-->
    <add key="XSBlogDataBaseCategory" value="SqlServer" />
    <!--七牛的相关配置-->
    <add key="QiniuScope" value="" />
    <add key="QiniuUrl" value="" />
    <add key="QiniuAccessKey" value="" />
    <add key="QiniuSecretKey" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <httpModules>
      <add name="UrlModule" type="XS.Blog.Framework.HttpModule.UrlModule" />
    </httpModules>
    <sessionState timeout="1440"></sessionState>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <handlers>
      <add name="URLRouting" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>